@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Space+Grotesk&display=swap');
.container{
    width: 1440px;
    height: 100vh;
    background-color: rgb(0, 22, 0);
    margin: 0 auto;
    position: relative;
}
header{
    width: 1110px;
    height: 32px;
    display: inline-block;
    margin-left: 168px;
    margin-top: 39px;
}
h6{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -0.444444px;
    color: white;
    display: inline-block;
}
.icon{
    width: 80px;
    display: inline-block;
    margin-left: 750px;
}
.linkedin{
    margin-left: 25px;
}
.vector{
    margin-top: 80px;
    margin-left: 0;
    color: white;
}
h1{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -2.5px;
    color: #FFFFFF;
    display: inline-block;
    position: absolute;
    left: 165px;
    top: 198px;
}
h2{
    position: absolute;
    left: 302px;
    top: 286px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -2.5px;
    color: #FFFFFF;
    display: inline-block;
    margin-left: 30px;
    border-bottom: 7px solid #4EE1A0;
    position: absolute;
}
h3{
    position: absolute;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -2.5px;
    color: #FFFFFF;
    display: inline-block;
    left: 165px;
    top: 286px;
}
.myphoto{
    position: absolute;
left: 830px;
top: 141px;
width: 450px;
height: 460px;
background-color: rgb(3, 30, 3);
}
.based{
    position: absolute;
    width: 445px;
    height: 85px;
    left: 165px;
    top: 500px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #D9D9D9;
}
.contact{
    display: inline-block;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.28571px;
    color: #FFFFFF;
    margin-left: 165px;
    margin-top: 350px;
    border-bottom: 3px solid #4EE1A0;
}
.contact:hover{
    color: #4EE1A0;
    cursor: pointer;
}
hr{
    width: 1110px;
     margin-left: 165px; 
     margin-top: 40px; 
}
